.el-main{
    font-size: 0.14rem;
    background: rgb(243, 248, 255);
    padding:0;
}






.wrap_home{
    min-height:100%; 
    padding: .25rem .25rem 0 .25rem;   
    /* 省  游客    今日全省警情*/
    .qsjq{
        background-color: #fff;
        // width: 16rem;
        min-height: 2.1rem;
        border: 1px solid #dcdcdc;
        .qsjq_title{
            padding-left:.12rem; 
            height: .58rem;
            border-bottom: 1px solid #dcdcdc;
            i{
                display: inline-block;
                color: #89abe5;
            }
            p{
                display: inline-block;
                font-size: .16rem;
                font-weight: 550;
                line-height: .58rem;
            }
        }
        .qsjq_content{
            display: flex;
            justify-content: space-around;
            .qsjq_item{
                margin-top: .15rem;
                width: .86rem;
                height: 1.15rem;
                border-radius:14px; 
                .qsjq_item_num{
                    width: .86rem;
                    height: .86rem;
                    border-radius:14px; 
                    overflow: hidden;
                    p{
                        display: block;
                        margin-top: 45%;
                        line-height: 100%;
                        height: .2rem;
                        text-align: center;
                        color: #fff;
                        font-size: .2rem;
                    }
                }
                .qsjq_name{
                    text-align: center;
                    font-size: .14rem;
                    margin-top:.04rem; 
                }
                .qsjq_name_zd{
                    text-align: center;
                    font-size: .14rem;
                    // margin-top:.01rem; 
                    font-weight: 550;

                }

            }


        }

    } 
    .box_common{
        border:1px solid #dcdcdc ;
        margin-top: 0.26rem;
        width: 7.6rem;
        background-color: #fff;
        .data_context{
            width: 7.5rem;
            height:3rem;
            overflow: hidden;
        }
    }
    .box{
        display: flex;
        justify-content:space-between;
        .dyfb{
            .dyfb_title{
                // border-bottom:1px solid  #dcdcdc;
                // height: 0.58rem;
            }
            .gfjq_list{
                display: flex;
                min-height: auto;
                justify-content: space-between;
                .gfjq_table{
                    margin:.38rem .51rem 0 .3rem ;
                    // border: 1px solid #dddddd;
                }
            }
        }
        .gfjq_list{
            border:1px solid  #dcdcdc;

        }

    }
    

    .connect_wrap{
        width: 100%;
        min-height: 2.2rem;
        border:1px solid #dcdcdc ;
        margin-top: .26rem;
        background: #fff;
        .connect_title{
            height: 0.58rem;
            border-bottom:1px solid #dcdcdc ;

        }
        .connect_listwrap{
            .explain{
                min-height: .6rem;
                // border-bottom: 1px solid #dcdcdc ;
                font-size: .14rem;
                text-align: center;
                line-height: .6rem;
                div{
                    display: inline-block;
                    margin-right: .4rem;
                    i{
                        font-size: .2rem;
                    }
                }
            }
            .connect_info{
                display: flex;
                justify-content: space-around;
                li{
                   text-align: center;
                   width: .44rem;
                   height: .83rem; 
                   .Img{
                       display: block;
                       font-size: .44rem;
                       width: .44rem;
                       height: 0.5rem;
                   }
                   p{
                       margin-top: .09rem;
                   }
                }

            }
            .c_normal{
                color : #41cf5a
            }
            .c_overtime{
                color : #ffe25c
            }
            .c_break{
                color : #ff4200

            }
        }
    }

    .box2{
        min-height: 3rem;
        margin-top: .26rem;
        border:1px solid #dcdcdc ;
        background: #fff;
        .box2_title{
            height: 0.58rem;
            border-bottom:1px solid #dcdcdc ;
            overflow: hidden;
            .box2_title_list{
                width: 6rem;
                display: flex;
                height: .33rem;
                margin: .12rem 0 .12rem .24rem;
                border-radius: 4px;
                overflow: hidden;
                li{
                    width: 33%;
                    line-height: .33rem;
                    text-align: center;
                    background: linear-gradient(to right,rgba(36,40,111,1), rgba(33,0,64,154) ); /* 标准的语法 */
                    color: #fff;
                    cursor: pointer;
                    i{
                        font-size: .18rem;
                        margin-right: .1rem;
                    }
                };
                li:last-child{
                    border-top-right-radius:4px !important;
                    border-bottom-right-radius:4px !important;

                };
                .btn_list1{
                    background: linear-gradient(to right,rgba(111,127,182,1), rgba(111,125,180,1) ); /* 标准的语法 */
                };
                .btn_list2{
                    background: linear-gradient(to right,rgba(111,124,178,1), rgba(112,120,169,1) ); /* 标准的语法 */
                };
                .btn_list3{
                    background: linear-gradient(to right,rgba(112,119,168,1), rgba(112,115,161,1) ); /* 标准的语法 */
                    border-top-right-radius:4px;
                    border-bottom-right-radius:4px;
                }
                .btn_active{
                    background: linear-gradient(to right,rgba(33,65,154,1), rgba(35,40,109,1) ); /* 标准的语法 */
                }
            }
        }
        .box2_wraplist{
            margin: .21rem  .35rem  .27rem .25rem;
            border:1px solid #dcdcdc ;
            min-height: 2.47rem;
            overflow: hidden;
            .box2_title_list{
                width: 2.2rem;
                display: flex;
                height: .33rem;
                // margin: .12rem 0 .12rem .24rem;
                border-radius: 4px;
                overflow: hidden;
                li{
                    width: 33%;
                    line-height: .33rem;
                    text-align: center;
                    background: linear-gradient(to right,rgba(36,40,111,1), rgba(33,0,64,154) ); /* 标准的语法 */
                    color: #fff;
                    cursor: pointer;
                };
                li:last-child{
                    border-top-right-radius:4px !important;
                    border-bottom-right-radius:4px !important;

                };
                .btn_list1{
                    background: linear-gradient(to right,rgba(111,127,182,1), rgba(111,125,180,1) ); /* 标准的语法 */
                };
                .btn_list2{
                    background: linear-gradient(to right,rgba(111,124,178,1), rgba(112,120,169,1) ); /* 标准的语法 */
                };
                .btn_list3{
                    background: linear-gradient(to right,rgba(112,119,168,1), rgba(112,115,161,1) ); /* 标准的语法 */
                    border-top-right-radius:4px;
                    border-bottom-right-radius:4px;
                }
                .btn_active{
                    background: linear-gradient(to right,rgba(33,65,154,1), rgba(35,40,109,1) ); /* 标准的语法 */
                }
            }

        }
    }
    .box3{
        background: #fff;
        margin-top: .26rem;
        margin-bottom: .36rem;
        border:1px solid #dcdcdc ;
        // min-height: 2.58rem;
        .box3_title{
            height: .58rem;
            border-bottom:1px solid #dcdcdc ;
        };
        ul{
            .jq_list{
                min-height: .6rem;
                display: flex;
                justify-content: space-between;
                border-bottom:1px solid #dcdcdc; 
                line-height: .6rem;
                font-size: .16rem;
                .jq_area{
                    width: 10%;
                    text-align: right;
                    color: #25286e;
                    font-weight: 550;

                }
                .jq_information{
                    width: 69%;

                }
                .jq_time{
                    width: 15%;
                }
            }
            li:last-child{
                border-bottom: 0;

            }
        }
    }
    .box5{
        border: 1px solid #dcdcdc;
        min-height: 3.46rem;
        margin-top: .26rem;
        background-color: #fff;
        .box2_title{
            height: 0.58rem;
            border-bottom:1px solid #dcdcdc ;
            overflow: hidden;
            .box2_title_list{
                width: 4rem;
                display: flex;
                height: .33rem;
                margin: .12rem 0 .12rem .24rem;
                border-radius: 4px;
                overflow: hidden;
                li{
                    width: 50%;
                    line-height: .33rem;
                    text-align: center;
                    background: linear-gradient(to right,rgba(36,40,111,1), rgba(33,0,64,154) ); /* 标准的语法 */
                    color: #fff;
                    cursor: pointer;
                    i{
                        font-size: .18rem;
                        margin-right: .1rem;
                    }
                };
                .btn_list1{
                    background: linear-gradient(to right,rgba(111,127,182,1), rgba(111,125,180,1) ); /* 标准的语法 */
                };
                .btn_list2{
                    background: linear-gradient(to right,rgba(111,124,178,1), rgba(112,120,169,1) ); /* 标准的语法 */
                    border-top-right-radius:4px;
                    border-bottom-right-radius:4px;
                }; 
                .btn_active{
                    background: linear-gradient(to right,rgba(33,65,154,1), rgba(35,40,109,1) ); /* 标准的语法 */
                    // border-top-right-radius:4px;
                    // border-bottom-right-radius:4px;
                }
            }
        }
    }

    .common_title{
        border-bottom:1px solid  #dcdcdc;
        padding-left:.12rem; 
        
        font-weight: 550;
        height: 0.58rem;
        line-height: .58rem;
        font-size: .16rem;
        i{
           color:  #89abe5;
           width: .24rem;
           height: .24rem;
           padding-right:.13rem; 
        }

    }

    .startShow{
        z-index: 1;
    }
    .startHide{
        z-index: 0;
    }
}



