.el-main{
    font-size: 0.14rem;
    background: rgb(243, 248, 255);
    padding:0;
}






.wrap_home{
    padding: .25rem .25rem 0 .25rem;   
    /* 省  游客    今日全省警情*/
    .wrap_home{
        width: 16rem;
        min-height: 2rem;
        border: 1px solid #dcdcdc;

    } 
}



